body {
	font-size: 100%;
}
.img {
	z-index: -1;
	background: url('img/NYC.jpg');
	background-size: cover;
	position: relative;
	background color: #324kfs;
	height: 80vh;
	width: 35vw;
}
.img__overlay {
	z-index: -10;
	position: absolute;
	top: 0;
	left: 0;
	height: 80vh;
	width: 35vw;
}
.clock__text {
	z-index: 30;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 10em;
}
.clock__hour {
	font-size: 11em ;
}
.clock__minute {
	font-size: 6em;
	text-align: right;
}
.clock__second {
	font-size: 3em;
	text-align: right;
}